.img {
    height: 160vh;
}

.img img {
    width: 500px;
    height: 500px;
    width: auto;
}

.desc1 {
    top: 665px;
}

.desc2 {
    top: 815px;
    right: 330px;
}

.desc3 {
    top: 1385px;
    left: 300px;
}

.proj3 {
    top: 820px;
    left: 250px;
}

.proj1:hover {
    opacity: 100%;
    transition: 0.5s;
}

.proj3:hover {
    opacity: 100%;
    transition: 0.5s;
}

.click2  {
    top: 542px;
    right: 358px;
}