.img {
    height: 150vh;
}

.proj1 {
    top: 100px;
    left: 100px;
}

.click2 {
    right: 180px;
}
.proj3 {
    left: 220px;
}

.proj4 {
    top: 850px;
    right: 180px;
}
.click4 {
    top: 1050px;
    right: 260px;
}