main {
    height: 1300px;
}

.img {
    height: 150vh;
}

.desc1 {
    top: 490px;
}

.desc2 {
    right: 140px;
}

.desc3 {
    left: 270px;
}

.desc4 {
    top: 1240px;
    right: 368px;
}

.proj1 {
    top: 100px;
    left: 100px;
}

.click2 {
    top: 460px;
    right: 270px;
}
.proj3 {
    left: 220px;
}

.click3 {
    top: 860px;
    left: 540px;
}

.proj4 {
    top: 850px;
    right: 180px;
}
.click4 {
    top: 1055px;
    right: 370px;
}